$backgroundRed: #DF2626;
$backgroundWhite: #FFFFFF;
$backgroundYellow: #FFCE00;
$backgroundBlack: #000000;

$fontWhite: #FFFFFF;
$fontBlack: #000000;

$fontFamily: Roboto, Arial, Helvetica, sans-serif;
